DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Открываем /admin.php для /admin
    RewriteRule ^admin/?$ admin.php [L]

    # ЧПУ для новостей
    RewriteRule ^news/?$ index.php?news [QSA,L]
    RewriteRule ^news/([^/]+)$ index.php?news=$1 [QSA,L]
    RewriteRule ^nc/([^/]+)$ index.php?news-category=$1 [QSA,L]

    RewriteRule ^profile/?$ index.php?profile [QSA,L]
    
    # Проверка наличия файла или директории перед применением правила 404
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # RewriteRule для всех остальных запросов
    RewriteRule ^(.+)$ index.php?pages=$1 [QSA,L]
</IfModule>